/* FINANCE */
/* ----------------------- */

div.top-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 120px;
}

div.values {
    background-color: #fff;
    padding: 30px 65px;
    margin: -45px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

div.values-content {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    font-size: 25px;
}

div.values p {
    font-size: 22px;
    font-weight: 500;
}

.money-up {
    color: green;
}

.money-down {
    color: red;
}

@media (max-width: 768px) {
    div.top-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    div.values {
        padding: 30px 65px;
        margin: -45;
        gap: 8px;
    }
    div.values-content {
        width: 130px;
        gap: 0;
        font-size: 23px;
    }
    div.values p {
        font-size: 20px;
    }
    .money-up {
        width: 20px;
    }
    .money-down {
        width: 20px;
    }
}