div.title-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

img.logo-img {
  width: 23px;
  border-radius: 10px;
}

div.container-bankcard {
  width: 40%;
  height: 130px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 5px 20px 5px #00171f;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.total-card {
  cursor: default;
}

div.container-bankcard-dashboard {
  width: 40%;
  height: 90px;
  padding: 25px 50px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 20px 5px #00171f;
  cursor: pointer;
}

div.container-all-total {
  width: 40%;
  height: 90px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 5px 20px 5px #00171f;
}

div p.dash-description {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}